<ion-card>
<ion-grid>
  <ion-row>
    <ion-col size="3">
      <img src="assets/public/{{fruit.image}}" alt="">
    </ion-col>
    <ion-col>
      <h1>{{ fruit.name }}</h1>
      <p>{{fruit.description}}</p>
      <a *ngIf="fruit.link "target="_blank" [href]="fruit.link">More info</a>
    </ion-col>
    <ion-col size="2">
      <ion-button color="danger" (click)='emiteDeletePressed()'>
        <ion-icon slot="icon-only" name="trash" ></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-card>
