<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <ion-button color="primary" (click)="toggleExpandable(); emiteExpandableContentChanged(mostrarInfo)">
              <ion-icon name="add" *ngIf="!mostrarInfo"></ion-icon>
              <ion-icon name="remove" *ngIf="mostrarInfo"></ion-icon>
            </ion-button>
            <ion-label>{{title}}</ion-label>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content [hidden]="mostrarInfo">
          <ng-content></ng-content>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
