<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="fruitslist"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="state.loaded"> {{ fruit.name }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-loading-feedback [state]="state" (retryPressed)="retry()">
  <ion-grid *ngIf="state.loaded">
    <ion-row>
      <ion-col size="3">
        <img src="assets/public/{{fruit.image}}" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <form [formGroup]="form" (submit)="submitForm()" >
          <ion-item>
            <ion-textarea formControlName="description" [value]="fruit.description"></ion-textarea>
          </ion-item>
          <div margin text-right>
            <ion-button type="submit">Submit</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  </app-loading-feedback>
</ion-content>
