<ion-header>
  <ion-toolbar color="primary">
    <ion-title>sandbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- CONTENEDOR EXPANDABLE -->
  <div class="ion-padding">
    <h2>Expandables contents</h2>
    <app-expandable-content title="Title1"
      (expandableContentChanged)="change($event)"> Content 1 </app-expandable-content>
    <app-expandable-content title="Title2"
    (expandableContentChanged)="change($event)"> Content 2</app-expandable-content>
    <app-expandable-content title="Title3"
    (expandableContentChanged)="change($event)"> Content 3 </app-expandable-content>
    <app-expandable-content title="Title4"
    (expandableContentChanged)="change($event)"> Content 4 </app-expandable-content>
  </div>
  <h4>Number of expanded: {{numberExpanded}}</h4>
  <br><br><br>
  <h2>Ratings</h2>
  <app-rating (addLike)="aumentaLike()" (addDislike)="aumentaDislike()"></app-rating>
  <app-rating likes="1" (addLike)="aumentaLike()" (addDislike)="aumentaDislike()"></app-rating>
  <app-rating dislikes="2" (addLike)="aumentaLike()" (addDislike)="aumentaDislike()"></app-rating>
  <app-rating likes="3" dislikes="1" (addLike)="aumentaLike()" (addDislike)="aumentaDislike()"></app-rating>
  <h4>Total likes: {{totalLikes}}</h4>
  <h4>Total dislikes: {{totalDislikes}}</h4>
</ion-content>
