<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reactive form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h1>Form</h1>

  <form>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Birthdate</ion-label>
      <ion-datetime></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Sex</ion-label>
      <ion-select>
        <ion-select-option value="male">Male</ion-select-option>
        <ion-select-option value="female">Female</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Phone</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <div margin text-right>
      <ion-button>Submit</ion-button>
    </div>
  </form>

  <h1>Summary</h1>

  <ion-item>
    <ion-label>Name</ion-label>
    <ion-label></ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Birthdate</ion-label>
    <ion-label></ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Sex</ion-label>
    <ion-label></ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Phone</ion-label>
    <ion-label></ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-label></ion-label>
  </ion-item>

</ion-content>
