<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <app-fruit-card *ngFor="let fruit of fruits, let i = index"
                  [fruit]="fruit"
                  (deletePressed)="deleteFruit()">
  </app-fruit-card>

</ion-content>

<!-- Footer -->
<ion-footer>
  <ion-toolbar text-center>
    <ion-button color="primary" [disabled]='todas' (click)='restaurar()'>
      Restore
    </ion-button>
  </ion-toolbar>
</ion-footer>
